/node_modules
/public/hot
/public/qrcodes/payment_qr.png
/public/qrcodes/final_payment_qr.png
/public/storage/payslips
/public/storage/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

